backports.functools-lru-cache==1.6.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
configparser==4.0.2
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
funcsigs==1.0.2
future==0.18.2
graphviz==0.13.2
idna==2.8
kiwisolver==1.1.0
matplotlib==2.2.4
minio==5.0.7
nltk==3.4
numpy==1.16.4
objgraph==3.4.1
opencv-python==4.1.2.30
paddlepaddle==1.6.2
pandas==0.24.2
Pillow==6.2.1
prettytable==0.7.2
protobuf==3.11.2
pycparser==2.19
pydub==0.23.1
pyparsing==2.4.6
python-dateutil==2.8.1
python-speech-features==0.6
pytz==2019.3
PyYAML==5.2
rarfile==3.1
requests==2.22.0
resampy==0.1.5
scipy==1.2.1
singledispatch==3.4.0.3
six==1.13.0
SoundFile==0.9.0.post1
subprocess32==3.5.4
swig-decoders==1.1
urllib3==1.25.8
